In [5]:
for  x in range(1,6):
    for y in range(1,6):
        print("* ",end=" ")
    print()

*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *
*  *  *  *  *

In [6]:
for  x in range(1,6):
    for y in range(1,6):
        print(x,end=" ")
    print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [7]:
for x in range(1,6):
    for y in range(1,6):
        print(y ,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [8]:
for  x in "ABCDE":
    for  y in "ABCDE":
        print(x,end=" ")
    print()

A A A A A
B B B B B
C C C C C
D D D D D
E E E E E

In [9]:
for x in "ABCDE":
    for y  in "ABCDE":
        print(y ,end=" ")
    print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [12]:
for x in range(5,0,-2):
    for  y in range(5,0,-2):
        print(x,end=" ")
    print()

5 5 5
3 3 3
1 1 1

In [13]:
for x in range(5,0,-1):
    for y in range(5,0,-1):
        print(y,end=" ")
    print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [16]:
for x in range(0,6):
    for y in range(1,x+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [17]:
for x in range(1,6):
    for  y in range(1,x+1):
        print(x,end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [2]:
for x  in range(1,6):
    for y in range(6,x-1):
        print("1", end=" ")
    print()

In [3]:
for x in range(1,6):
    for y in range(5,x-1,-1):
        print(x,end=" ")
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [7]:
for  x in range(6,1,-1):
    for y  in range(1,x):
        print(y,end= " ")
    print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [20]:
for  x in range(1,9):
    for y in range(1,x+2):
         print("1",end=" ")
    print()

1 1
1 1 1
1 1 1 1
1 1 1 1 1
1 1 1 1 1 1
1 1 1 1 1 1 1
1 1 1 1 1 1 1 1
1 1 1 1 1 1 1 1 1

In [24]:
for x in range(6,1,-1):
    for y in range(1,x+1):
        print(y ,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2

In [4]:
#to print the square number :
n=int(input("enter the value of number:"))
for x in range(1,n+1):
    print(" "+str(x*x*x),end='')

enter the value of number:5
 1 8 27 64 125

In [5]:
#to print  the number in odd  number  
n=int(input("Enter  the value of number :"))
for x in range(1,n+1):
    print(" "+str(2*x-1),end='')

Enter  the value of number :5
 1 3 5 7 9

In [6]:
#to print the even  number  in given range 
n=int(input("Enter  the the value of number "))
for x in range(1,n+1):
    print(" "+str(2*x),end=" ")

Enter  the the value of number 7
 2  4  6  8  10  12  14

In [15]:
#for the  print the arthmetic series  
n=int(input("enter the value of n "))
d=int(input("enter the value of d "))
a=int(input("enter the  value of a "))
for x in range(1,n+1):
    print(""+str(a),end=" ")
    a=a+d

enter the value of n 6
enter the value of d 3
enter the  value of a 2
2 5 8 11 14 17

In [19]:
#to familize with  the stiring in python 
string="sumit"
for x in range(0,5):
    for y in range(0,5):
        if x==2:
            print(string[y],end=" ")
        elif y==2:
            print(string[x],end="")
        else:
            print("",end="")
            print()

s



u

s u m i t

i



t

In [27]:
#to print the heart symbol in using python
for row  in range(0,6):
    for  col in range(0,7):
        if(row==0 and col%3!=0)or(row==1 and col%3==0) or(row-col==2) or (row+col==8):
            print("*",end="")
        else:
            print(" ",end=" ")
    print()

  **  **
*    *    *
*          *
  *      *
    *  *
      *

In [1]:
for  x in range(1,6):
    for  y in range(5,x,-1):
        print('',end=" ")
    for  z in range(1,x+1):
        print(z,end=" ")
    print()

    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [5]:
for x in range(5,0,-1):
    for  y in range(5,0,-1):
        if x >=y:
            print("*",end=" ")
        else:
            print(" ",end="")
    print()

* * * * *
 * * * *
  * * *
   * *
    *

In [11]:
n=int(input("Enter  the value of number:"))
for x in range(1,n+1):
    for y in range(1,n+1):
        if(x==y or x+y==n+1):
            print("* ",end="")
        else:
            print(" ",end='')
    print()

Enter  the value of number:6
*     *
 *   *
  * *
  * *
 *   *
*     *

In [15]:
n=int(input("enter the value of number:"))
cen=n//2+1
for x in range(1,n+1):
    for y in range(1,n+1):
        if(x==cen or y ==cen):
            print("*",end="")
        else:
            print("",end="")
    print()

enter the value of number:5
*
*
*****
*
*

In [18]:
n=5
cen=n//2+1
for x in range(1,n+1):
    for y in range(1,n+1):
        if(x==cen or  y==cen):
            print("*",end="")
        else:
            print("1",end="")
    print()

11*11
11*11
*****
11*11
11*11

In [26]:
n=5
for x in range(0,n):
    for y in range(n-1,x,-1):
        print("",end=" ")
    for z in range(0,n+1):
        print("#")
    print()

    #
#
#
#
#
#

   #
#
#
#
#
#

  #
#
#
#
#
#

 #
#
#
#
#
#

#
#
#
#
#
#

In [ ]:
is